body, html {
	font-family: Arial, Colibri, Times New Roman;
    font-size: 16px;
	margin: 0;
	padding: 0;
	width: 100%;
    height: 100%;
}

#wrapper {
	margin: auto;
    padding: 0;
    min-width: 900px;
    max-width: 1150px;
	height: 100%;
	position: relative;
}

#header {
    height: 60px;
	text-align: center;
    font-size: 20px;
    padding-top: 5px;

    background-color: #27634A;
    border: 2px solid #27634A;
    color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
}

#navigation {
    height: 15px;
    text-align: right;
    border-top: solid 1px #898989;
    border-bottom: solid 1px #898989;
    background-color: #27634A;
    border: 2px solid #27634A;
    color: #FFFFFF;
    border-radius: 10px;
    margin-top: 2px;
    margin-bottom: 5px;

}

#main {
    width: 100%;
    height: auto;
    position: relative;
}

#left {
    float: left;
    width: 20%;
    height: auto;
	min-height: 500px;
	position: relative;
}

#content {
    float: left;
    width: 79%;
    height: auto;
    min-height: 500px;
	position: relative;
    padding-left: 5px;
}

#right {
    float: left;
    width: 18%;
    height: auto;
    min-height: 0px;
	position: relative;
}

#clear {
    clear:both;
}

#footer {
    height: 20px;
    width: 100%;
	text-align: center;
	vertical-align: middle;
    clear: both;
    padding-top: 5px;
    background-color: #27634A;
    border: 2px solid #27634A;
    color: #FFFFFF;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.modifyTestCategoryForm {
    display: inline;
}

/*REFERENCE*/

a {
    color: #000088;
}

    a:hover {
        color: #000099;
    }

    a:active {
        color: #4D4DFF;
    }

    a:visited {
        color: #000088;
    }
/*/REFERENCE*/

.menu_block, #navigation {
    background-color: #27634A;
    border: 2px solid #27634A;
    color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.menu_block a, #navigation a, #header a, .color_block a{
     color: #FFFFFF;
}

.menu_block a:hover, #navigation a:hover, #header a:hover, .color_block a:hover{
    color: #FFFFFF;
}

.menu_block a:active, #navigation a:active, #header a:active, .color_block a:active{
    color: #FFFFFF;
}

.menu_block a:visited, #navigation a:visited, #header a:visited, .color_block a:visited{
    color: #FFFFFF;
}



h4 {
    margin-top: 10px;
    margin-bottom: 10px;


}

/*TABLE*/
table {
    margin: 0;
}

    table td {
        border-top: solid 1px #ABADB3;
        border-bottom: solid 1px #ABADB3;
        font-weight: bold;
        font-size: 14px;
        width: 100%;
        text-align: center;
    }

    table th {
        border-bottom: solid 1px #ABADB3;
        font-weight: normal;
        font-size: 13px;
        text-align: center;
    }

   .first_row th, .first_row td {
        border-bottom: dotted 1px #ABADB3;
    }

    tr.second_row th, .second_row td{
        border-top: solid 0px #ABADB3;;
    }

td +.deleteCol {
    min-width: 60px;
    color: #FF0000;
    text-decoration: underline;
}

/*
td +.deleteCol a{
    color: #FF0000;
}

td +.deleteCol a:hover{
    color: #C40004;
}

td +.deleteCol a:active{
    color: #FF5656;
}

td +.deleteCol a:visited{
    color: #D50059;
}
*/
/*/TABLE*/

/*CHECKBOX*/
input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"] + label {
    background: url("../img/checkbox.gif") 0 0 no-repeat;
    padding-left: 20px;
}

input[type="checkbox"]:checked + label {
    background-position: 0 -32px;
}
/*/CHECKBOX*/

/*INPUT_FILE*/
.inputFile {
    overflow:hidden;
    background: url("../img/buttonBrowth.jpg") left top no-repeat;
    position: relative;
    display: inline-block;
}

.fileInput {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 199px;
    opacity:0;
    filter:alpha(opacity:0);
}

.inputFileText {
    border: 1px solid #ABADB3;
    height: 21px;
    line-height: 21px;
    float: left;
    width: 426px;
    padding: 0 3px;
    margin: 0 0 0 97px;
}
/*/INPUT_FILE*/

/*OTHER_ELEMENTS*/
.action_result_message {
    background: #F0634A;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.color_block {
    background: #417DA8;/*#27638E;*/
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.modify_form {
    margin-left: 15px;
}

.modify_form form {
    display: inline;
    border-radius: 5px;
}

input[type="text"] {
    min-width: 270px;
}

input[type="password"] {
    min-width: 270px;
}




.view_q_picture {
    width: 300px;
    height: 300px;
}

.wrong_answer {
    color: #CA1C2A;
}
.right_answer {
    color: #0CA62F;
}
.user_answer {
    color: #4882CA;
    padding-right: 150px;
}
.wrong_status {
    color: #CA1C2A;
}
.right_status {
    color: #0CA62F;
}
#change_lang_ref {
    font-size: 16px;
    text-align: right;
    margin-right: 10px;
}
#header h3 {
    margin-top: 0px;
}
form  {
    display: inline;
}







/*OTHER_ELEMENTS 2*/
#header img {
    margin-bottom: -25px;
}

.invisibleLeftRightBlock {
    margin: 3px;
    padding: 3px;
}

.invisibleFilesBlock {
    margin: 8px 3px -17px;
    padding: 0 3px;
}

.contentUploadBlock {
    border: solid 1px #ABADB3;
    height: 77px;
    margin: 3px;
    padding: 3px;
}

.contentRequestBlock {
    border: solid 1px #ABADB3;
    height: 93px;
    margin: 3px;
    padding: 3px;
}

.rowAuth, .rowUploadBlock, .rowRequestBlock {
    margin: 2px 0px;
}

.dateCol {
    min-width: 150px;
}

.auth {
    min-width: 100px;
    float: left;
    text-align: right;
}

#empty_dir {
    margin: 0;
}

#answer_message {
    color: #FF0000;
    margin-top: 10px;
    margin-bottom: 20px;
}

.login_message {
    font-weight: bold;
}

#uploadButton {
    float: left;
}

#progressbar_white {
    border: 1px solid #ABADB3;
    width: 200px;
    height: 17px;
    margin-left: 97px;
    border-radius: 2px;
}

#progressbar_green {
    width: 0px;
    height: 17px;
}

.preview_picture {
    display: none;
    opacity: 1;
    height: 100px;
    width: 100px;
    position: absolute;
    left: -100px;
    top: 50px;
    border: #000000 solid 1px;
}
/*/OTHER_ELEMENTS*/
