<div class="modify_form">
    <img src="img/rowToChild.jpg"/>
    <form class="modifyQuestionCategoryForm" action="index.php?page=question_category&action=modify" target="_self" method="post" enctype="multipart/form-data">
            <input type="text" name="qc_name" value='{DV="selectedModifiedQuestionCategory"}' />
            <select name="qc_parent_id" size="1">
                <option value='0'></option>
                {FOREACH="question_category_array"}
                <option value='{FR_ELEMENT="qc_id"}'
                        {IF="qc_parent_id"}{==}{{FR_ELEMENT="qc_id"}}
                        selected='selected'
                        {END_IF}
                        >
                    {FR_ELEMENT="qc_open_value"}{FR_ELEMENT="qc_name"}</option>
                {FOREACH_END}
            </select>
            <input hidden='hidden' name='qc_id' value='{DV="qc_id"}'>
            <input type="image" src="img/buttonModify.jpg" id="copyFileButton">
    </form>
</div>