<div class="color_block">
    <form action="index.php?page=trainer_stat" target="_self" method="get" enctype="multipart/form-data" id="form_trainer_stat_search_type">
        <input type="hidden" name="page" value="trainer_stat">
        <div id="search_stat_type_block">
            {LABEL="select_stat_type"}:<br />
            <input type="radio" name="search_type" class="search_trainer_stat_type" value="1" {DV="checked_1_search_type"}/>{LABEL="users_stat"}<br />
            <input type="radio" name="search_type" class="search_trainer_stat_type" value="2" {DV="checked_2_search_type"}/>{LABEL="tests_stat"}
        </div>
        <input type="image" src="img/buttonFilter.jpg" id="copyFileButton"><br />
    </form>
</div>
