<h4>
    {LABEL="form_group"}
</h4>
{FOREACH="actionResultMessage"}
    <span class="action_result_message">{FR_ELEMENT="message"}</span><br />
{FOREACH_END}
{FILE="tpl/UGroupMember.Search.tpl"}
{IF="include_result_form"}{==}{true}
    {FILE="tpl/UGroupMember.{DV="search_form_type"}.tpl"}
{END_IF}
