<div>
    <form enctype="multipart/form-data" action="index.php?page=user_group&action=add-or-modify" method="post" name="userGroupForm">
        {LABEL="title"}: <input type="text" name="ug_name"  value="{DV="ug_name"}"/><br />
        {LABEL="description"}: <textarea name="ug_description" cols="30" rows="7">{DV="ug_description"}</textarea><br />
        <input type="hidden" name="submit_pressed" value="1">
        <input type="hidden" name="ug_id" value="{DV="ug_id"}">
        <input type="hidden" name="first_action" value="{DV="first_action"}">
        <br />
        <input type="image" src="img/buttonSave.jpg">
    </form>
</div>