<div>
    <h4>
        {LABEL="confirmation_of_registration"}
    </h4>
    {FOREACH="actionResultMessage"}
        <span class="action_result_message">{FR_ELEMENT="message"}</span><br />
    {FOREACH_END}
</div>