<div>
    <form action="index.php?page=question_setting&action=add-or-modify" target="_self" method="post" enctype="multipart/form-data">
        {LABEL="for_question_adding_select_question_type"}<br />
        <select name="qt_id" size="1">
            {FOREACH="question_type_array"}
            <option value='{FR_ELEMENT="qt_id"}'{FR_ELEMENT="selected_question_type"}>{FR_ELEMENT="qt_name"}</option>
            {FOREACH_END}
        </select>
        <input type="image" src="img/buttonFilter.jpg" id="copyFileButton"><br />
    </form>
</div>
{FILE="tpl/QuestionSetting.Add.{DV="question_form_tpl"}.tpl"}