<div class="modify_form">
    <img src="img/rowToChild.jpg"/>
    <form class="modifyTempUserForm" action="index.php?page=temp_user&action=modify" target="_self" method="post" enctype="multipart/form-data">
        <input type="key" name="tu_key" value='{DV="selected_tu_key"}' />
        <input type="comment" name="tu_comment" value='{DV="selected_tu_comment"}' />
        <input hidden='hidden' name='tu_id' value='{DV="tu_id"}'>
        <input type="image" src="img/buttonModify.jpg" id="copyFileButton">
    </form>
</div>