<h4>
    {LABEL="temp_key"}
</h4>
{FOREACH="actionResultMessage"}
    <span class="action_result_message">{FR_ELEMENT="message"}</span><br />
{FOREACH_END}
<div>
    <!--
    <form action="index.php?page=temp_user&action=add" target="_self" method="post" enctype="multipart/form-data">
        {LABEL="adding"}.
        {LABEL="key"}: <input type="key" name="tu_key" value="{DV="new_key"}"/>
        {LABEL="comment"}: <input type="comment" name="tu_comment" id="url"/>
        <input type="image" src="img/buttonAdd.jpg" id="copyFileButton"><br />
    </form>
    -->
</div>
<div>
    {FOREACH="temp_user_array"}
        <a href='index.php?page=temp_user&action=delete&tu_id={FR_ELEMENT="tu_id"}'>{LABEL="delete"}</a>
        || <a href='index.php?page=temp_user&action=modify_tlp&tu_id={FR_ELEMENT="tu_id"}'>{LABEL="modify"}</a>
        || {FR_ELEMENT="tu_key"}
        || {FR_ELEMENT="tu_comment"}
        {IF="temp_user_action"}{==}{{FR_ELEMENT="tu_id"}}
            <br />{FILE="tpl/TempUser.Modify.tpl"}
        {END_IF}<br />
    {FOREACH_END}
</div>