<h4>
    {LABEL="passing_the_test_for_one_time_key"}
</h4>
{FOREACH="actionResultMessage"}
    <span class="action_result_message">{FR_ELEMENT="message"}</span><br />
{FOREACH_END}
<div>
    <form action="index.php?page=user_journal" target="_self" method="post" enctype="multipart/form-data">
        <p>{LABEL="enter_key_number"}:</p>
        <input type="text" name="temp_key" size="70"><br />
        <input type="hidden" name="action" value="by_key"><br />
        <input type="image" src="img/buttonDoTest.jpg">
    </form>
</div>



