<span>{LABEL="question"}: {DV="qs_text"}</span>
<br />
{FOREACH="pictures_array"}
    <img class="view_q_picture" src="question_file_dir/question_id_{FR_ELEMENT="qp_question_setting_id"}/{FR_ELEMENT="qp_name_in_db"}"/>
    <br />
{FOREACH_END}
<br />
{FOREACH="actual_answers_array"}
    <input type="checkbox" name="input_answers_checkbox[{FR_ELEMENT="av_id"}]" id="checkbox-id{FR_ELEMENT="av_id"}"><label for="checkbox-id{FR_ELEMENT="av_id"}">&nbsp</label>{FR_ELEMENT="av_text"}<br />
{FOREACH_END}
